*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-weight: 400;
    color: $color-brown;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $color-white;
}

.content {
    padding: $space-s;
    margin-top: 65px;
    overflow-x: hidden;
}


//MEDIA QUERIES

@include respond(tab-port) {
    .content {
        margin-top: 75px;
    }
}

@include respond(tab-land) {
    .content {
        margin-top: 85px;
        padding: $space-m;
    }
 
}
