
.heading-primary {
    text-align: center;
    margin: 0;

    .subslogan {
        display: block;
        font-size: $font-m;
        font-weight: 400;
        color: $color-brown;
    }

    .slogan {
        font-size: $font-l;
        color: $color-blue;
        text-transform: uppercase;
    }
}

.heading-secondary--orange {
    text-transform: uppercase;
    color: $color-gold;
    font-size: $font-m;
    margin-bottom: $space-s;
}

.heading-secondary--blue {
    color: $color-blue;
    text-transform: uppercase;
    font-size: $font-l;
    margin-bottom: $space-s;
}

.paragraph {
    font-size: $font-xs;
    margin: 0 auto;
    line-height: 1.4;
    color: $color-brown;
}

.paragraph--service {
    max-width: 400px;
}

.paragraph--about {
    max-width: 730px;
    text-align: justify;
}

.paragraph-social-media {
    a:link,
    a:visited {
        color: $color-brown;
        text-decoration: none;
    }
}

.paragraph--contact {
    margin: 0;

    a:link,
    a:visited {
        color: $color-brown;
        text-decoration: none;
    }
}