
.heading-primary {
    text-align: center;
    margin: $space-s 0;

    .subslogan {
        display: block;
        font-size: $font-m;
        font-weight: 400;
        color: $color-brown;
    }

    .slogan {
        font-size: $font-l;
        color: $color-blue;
        text-transform: uppercase;
    }
}

.heading-secondary--orange {
    text-transform: uppercase;
    color: $color-gold;
    font-size: $font-m;
    margin: $space-m 0 $space-s;
}

.heading-secondary--blue {
    color: $color-blue;
    text-transform: uppercase;
    font-size: $font-l;
    margin-bottom: $space-s;
    text-align: center;
}

.paragraph {
    font-size: $font-xs;
    margin: 0 auto;
    line-height: 1.4;
    color: $color-brown;
}

.paragraph--service {
    max-width: 350px;
    min-height: 57px;

    span {
        display: inline-block
    }
}

.paragraph--about {
    max-width: 630px;
    text-align: justify;
    margin: 0;
}

.paragraph--social-media {
    a:link,
    a:visited {
        color: $color-brown;
        text-decoration: none;
    }
}

.paragraph--follow-me {
    margin: 0;
}

.paragraph--contact {
    margin: 0;

    a:link,
    a:visited {
        color: $color-brown;
        text-decoration: none;
    }
}


//MEDIA QUERIES

@include respond(tab-port) {
    .heading-secondary--blue {
        text-align: start;
    }

    .heading-primary {

        .subslogan {
            font-size: $font-l;
        }
    
        .slogan {
            font-size: $font-xl;
        }
    }
}


@include respond(tab-land) {
    .heading-secondary--orange {
        font-size: $font-xs*2;
    }

    .paragraph {
        font-size: $font-s;
    }

    .heading-primary {
    
        .subslogan {
            font-size: $font-l;
        }
    
        .slogan {
            font-size: $font-xl;
        }
    }

    .paragraph--about {
        max-width: 100%;
        text-align: justify;
        margin: 0;
    }


}

