
.heading-primary {
    text-align: center;
    margin: 0;

    .subslogan {
        display: block;
        font-size: $font-m;
        font-weight: 400;
        color: $color-brown;
    }

    .slogan {
        font-size: $font-l;
        color: $color-blue;
        text-transform: uppercase;
    }
}

.heading-secondary {
    text-transform: uppercase;
    color: $color-gold;
    font-size: $font-l;
    margin-bottom: $space-s;
}

.heading-secondary--blue {
    color: $color-blue;
    text-transform: uppercase;
    font-size: $font-l;
    margin-bottom: $space-s;
}

.paragraph--service {
    margin: 0 auto;
    max-width: 400px;
    font-size: $font-s;
    color: $color-brown;
    line-height: 1.2;
    
}

.paragraph--about {
    text-align: center;
    margin: 0 auto;
    max-width: 730px;
    font-size: $font-s;
}

.paragraph--contact {
    font-size: $font-s;

    a:link,
    a:visited {
        color: $color-brown;
        text-decoration: none;
        
    }
}