    //COLORS
    $color-white: #fff;
	$color-black: #000;
	$color-brown: #585451;
	$color-blue: #708d9f;
	$color-gold: #d58f2b;
	$color-pink: #f0e8e5;
    $color-light-brown: #b0a8a5;
    
    //TYPOGRAPHY
    $font-s: 1rem; //16px; 
	$font-m: 1.4rem; //18px; 
	$font-l: 2rem; //30px;
    $font-xl: 3.4rem; //48px;
    
    //SPACING
    $space-s: 1rem;
    $space-m: 2.1rem; //30px;
	$space-xl: 6.4rem; //90px; 

    //SCREEN WIDTH
    $max-width-grid: 1366px;

    //Z-INDEX
    $z-index-navbar: 1100;
    $z-index-menu: 1050;
    $z-index-background: 1000;
