.about {
    @include content-width-limit;
    @include section-space-top;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
        width: 70%;
        max-width: 350px;
        margin-bottom: $space-m;
    }
}


@include respond(tab-port) {

    @supports (display: grid) {

        .about {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-gap: $space-s;
            align-items: center;
            padding-top: $space-m*2;

            &__img {
                width: 100%;
                max-width: 100%;
                margin: 0;
            }
        }
    }
}

@include respond(tab-land) {

    @supports (display: grid) {

        .about {
            padding-top: $space-xl;
            grid-gap: $space-m;
        }
    }
}
