.contact{
    background-color: $color-pink;
    padding: $space-s;

    &__container {
       @include content-width-limit;
    }

    &__email {
        display: flex;
        align-items: center;
        margin: $space-m 0;
    }

    &__icon {
        width: 40px;
        height: 40px;
        margin-right: $space-s;
    }

}

.form {

    margin: 0 auto;
    font-size: $font-s;


    &__list {
        list-style-type: none;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    &__item:not(:last-child) {
        margin-bottom: $space-s;
    }

    .form__label {
        width: 100%;
        font-size: 1.4rem;
        opacity: .7;
    }

    .textarea {
        width: 100%;
        color: $color-brown;
        opacity: .8;
        font-size: $font-s;
        padding: $space-s;
        border: 1px solid rgba($color-brown, .7);
    }

    .form__email {
        padding: $space-s;
        background-color: $color-pink-light;
        border: 1px solid rgba($color-brown, .7);
    }

    .submit__button {
        color: $color-white;
        background-color: $color-blue;
        font-size: $font-xs;
        text-transform: uppercase;
        border: none;
        margin-left: auto;
        margin-top: $space-s;
        padding: $font-s/2 $font-l ;    
    }
}


//MEDIA QUERIES

@include respond(tab-port) {

    @supports (display: grid) {

        .contact {
            padding: $space-m;

            &__container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: $space-s;
            }
        } 
        
        .form {
            margin: 0;
        }
    }
}
