.contact{
    background-color: $color-pink;
    padding: $space-m $space-s;

    &__container {
       @include content-width-limit;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style-type: none;
        margin: $space-m 0;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: $space-s;
    }

    &__icon {
        width: 40px;
        height: 40px;
        margin-right: $space-s;
    }
}

.form {
    margin: 0 auto;
    font-size: $font-s;

    &__list {
        list-style-type: none;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item:not(:last-child) {
        margin-bottom: $space-s;
    }

    .form-agreement {
        font-size: 1.2rem;

        &__more-text {
            display: none;

            &--open {
                display: inline;
            }
        }

        &__more-button {
            color: $color-gold;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .form__label {
        width: 100%;
        font-size: 1.4rem;
        opacity: .7;
    }

    .textarea {
        width: 100%;
        color: $color-brown;
        font-size: $font-s;
        background-color: $color-pink-light;
        border: 1px solid rgba($color-brown, .7);
        padding: $space-s;
    }

    .form__email {
        color: $color-brown;
        background-color: $color-pink-light;
        border: 1px solid rgba($color-brown, .7);
        padding: $space-s;
    }

    .submit__button {
        color: $color-white;
        background-color: $color-blue;
        font-size: $font-xs;
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        margin-left: auto;
        padding: $font-s/2 $font-l ;    
    }
}

.form__item--submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700; 
    margin-top: $space-s;
    
    .submit__result {
        color: #0e8442;
    } 
    
    .submit__result--error {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #d52e2a;
    }
}


//MEDIA QUERIES

@include respond(tab-port) {

    @supports (display: grid) {

        .contact {
            
            &__container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: $space-s;
            }
        } 
        
        .form {
            margin: 0;
        }
    }
}

@include respond(tab-land) {

    .contact {
        padding: $space-m;
    
    }
}

