.copyright {
    background-color: $color-brown;
    color: $color-light-brown;
    font-size: 12px;
    text-align: left;
    line-height: 1.4;
    padding:$space-s;

    &__container {
        @include content-width-limit;
    }

    a:link,
    a:visited {
        color: $color-light-brown;
        text-decoration: none;
    }
}

.cookies-consent {
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba($color-white, .8);
    border-top: 1px solid $color-gold;
    font-size: $font-xs;
    padding: $space-s;
    z-index: $z-index-cookies-consent;
    

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
            color: $color-brown;
            margin: $space-s/2;
        }
    }

    &__accept {
        color: $color-brown;
        background-color: $color-pink;
        border: 1px solid $color-pink;
        cursor: pointer;
        padding: .5rem 1rem;
    }
}

.cookies-consent--active {
    display: block;
}