//NAVIGATION 

.header {
    overflow: hidden;
}

.nav {

    &__bar {
        width: 100vw;
        height: 80px;
        background-color: $color-black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $space-m;
        position: fixed;
        z-index: $z-index-navbar; 

        .logotyp {
            width: 120px;
        }
    }

    &__menu {
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        background-color: $color-pink;
        transform: translateX(250px);
        transition: .5s ease; 
        z-index: $z-index-menu;   
    }

    &__list {
        list-style-type: none;
        text-transform: uppercase;
        padding: 80px 10px;
    }

    &__item {
        margin: $space-m;
        padding: 5px 0;
        
    }

    &__link {
        cursor: pointer;
        text-decoration: none;
        color: $color-brown;
        font-size: $font-m;
    }       
}

.nav__menu--active {
    transform: translateX(0px);  
}


.nav__container--active {
    width: 100%;
    height: 100%;
    background-color: rgba(102,102,102,.8);
    z-index: $z-index-background;
    position: fixed;
    top: 0;
    transition: 1s ease; 
}

// HAMBURGER

.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.hamburger__box {
    width: 40px;
    height: 30px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}

.hamburger__inner {
    @include hamburger__line;

    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
    @include hamburger__line;

    content: "";
    left: 0;
    transition: transform .3s ease-in-out;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 10px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
    transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
    transform: translateY(-10px) rotate(-45deg);
}




