//SERVICE
.service {
    @include section-space-top;

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        list-style-type: none;
        margin-top: $space-m;
        @include content-width-limit;
    }

    &__item {
        margin: $space-s 0;
    }

    &__img {
        width: 70%;
        max-width: 550px;
    }
}

@include respond(tab-port) {

    @supports (display: grid) {

        .service {

            .heading-secondary--blue {
                text-align: center;
            }

            &__list {
                margin-top: $space-m;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-gap: $space-s;
                align-items: end;

                .print {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                .internet {
                    grid-column: 2/-1;
                    grid-row: 1/2;
                }

                .visual {
                    grid-column: 1/2;
                    grid-row: 2/-1;
                }

                .ilustration {
                    grid-column: 2/-1;
                    grid-row: 2/-1;
                }
            }

        }  
    }
}

@include respond(tab-land) {
    .service {
        padding-top: $space-xl;  
    }
}

@include respond(desktop) {
    .service {
    
        &__img {
            width: 100%;
        }
    }
}


