.social-media {
    @include content-width-limit;
    @include section-space-top;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

    &__item {
        text-align: center;
        padding: $space-s;
    }

    &__icon {
        width: 40px;
        height: 40px;
        margin-bottom: $space-s/2;
    }

    .instagram__box {
        width: 100%;
        max-width: 600px;
    }

    @supports (display: grid) {
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            grid-template-rows: repeat(auto, 200px);
            grid-gap: $space-s;
            padding-bottom: $space-m;

            &__item {
                display: block;
                width: 100%;
            }
        }
    } 
    
    .gallery__item {
        max-width: 400px;
    }
}

@include respond(tab-port) {
    .social-media {
        padding-top: $space-m*2;
        display: flex;
        justify-content: space-between;

        &__container {
            margin-top: 0;
            margin-right: $space-s;
            align-items: flex-start;
        }

        &__item {
            text-align: center;
            padding: $space-s $space-s $space-s 0;
        }
    }
}

@include respond(tab-land) {
    .social-media {
        padding-top: $space-xl;
    }
}
